{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %} Title of The Page {% endblock %}</title>
    <link rel="stylesheet" href="{% static "CSS/index.css" %}">
    {% block css %}  {% endblock %}

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% block content %} Here is the Body of The Page {% endblock %}
  </body>
</html>
