{% extends "CSM/include/base.html" %}

{% block title %}
    Home Page
{% endblock  %}

{% block content %}
    {% include "CSM/include/nav.html" %}
        <section class="flex justify-center">
            <div class="container my-4 px-4 flex h-auto ">
                <!-- Senders container -->
                <div class="w-[20%] min-h-[26rem] max-h-[27rem] flex flex-col-reverse gap-1 border-r-4 border-solid border-slate-400 bg-blue-100 rounded-l-lg overflow-hidden overflow-y-auto scroll-smooth sender-container">
                    {% if messages  != 0 %}
                        {% for message in messages %}
                            {% if message.id in unreaded %}
                                <a class="bg-red-200 rounded-l-lg w-full text-neutral-500 transition duration-200 hover:bg-slate-100 hover:text-blue-700 hover:ease-in-out focus:text-green-700 disabled:text-black/30 dark:text-neutral-200 dark:hover:text-neutral-300 dark:focus:text-neutral-300 sm:flex [&amp;.active]:text-black/90 dark:[&amp;.active]:text-zinc-400 motion-reduce:transition-none user" 
                                    id="{{message.reciever}}{{message.id}}"
                                    data-message-id="{{ message.id }}">
                                    <!-- Image of The Sender -->
                                    <div class="flex flex-col items-center justify-center mx-2">
                                        <img src="{{message.sender.employee.profile_pic.url}}" class="bg-red-600 border border-solid border-1 border-slate-600 rounded-full w-[50px] h-[50px]">
                                    </div>
                                    <!-- First Name and Last Name of The Sender -->
                                    <div class="flex flex-col justify-center px-2 mx-2">
                                        <span class="text-base min-w-[6rem]">{{ message.sender.first_name }}</span>
                                        <span class="text-base min-w-[6rem]">{{ message.sender.last_name }}</span>
                                    </div>
                                </a>
                            {% else %}
                                <a class="bg-green-100 rounded-l-lg w-full text-neutral-500 transition duration-200 hover:bg-slate-100 hover:text-blue-700 hover:ease-in-out focus:text-green-700 disabled:text-black/30 dark:text-neutral-200 dark:hover:text-neutral-300 dark:focus:text-neutral-300 sm:flex [&amp;.active]:text-black/90 dark:[&amp;.active]:text-zinc-400 motion-reduce:transition-none user" 
                                    id="{{message.reciever}}{{message.id}}"
                                    data-message-id="{{ message.id }}">
                                    <!-- Image of The Sender -->
                                    <div class="flex flex-col items-center justify-center mx-2">
                                        <img src="{{message.sender.employee.profile_pic.url}}" class="bg-red-600 border border-solid border-1 border-slate-600 rounded-full w-[50px] h-[50px]">
                                    </div>
                                    <!-- First Name and Last Name of The Sender -->
                                    <div class="flex flex-col justify-center px-2 mx-2">
                                        <span class="text-base min-w-[6rem]">{{ message.sender.first_name }}</span>
                                        <span class="text-base min-w-[6rem]">{{ message.sender.last_name }}</span>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- Message Container -->
                <div class="w-[80%] min-h-[26rem] max-h-[27rem] flex flex-col">
                    <!-- Title of The Message -->
                    <div class="flex justify-center w-full h-[10%] border-b-2 border-solid border-slate-400 px-2 mx-2 bg-blue-200">
                        {% comment %} {% for message in messages %} {% endcomment %}
                            <span class="message-title px-2 mx-2 text-red-500"></span>
                        {% comment %} {% endfor %} {% endcomment %}
                    </div>
                    <!-- The Message -->
                    <div class="w-full px-2 py-2 mx-2 h-[80%]">
                        {% comment %} {% for message in messages %} {% endcomment %}
                            <p class="message-content"></p>
                        {% comment %} {% endfor %}  {% endcomment %}
                    </div>
                    <!-- Information About the Message -->
                    <div class="w-full h-[10%] flex items-center justify-center px-2 mx-2 border-t-2 border-slate-400 bg-blue-200">
                        {% comment %} {% for message in messages %} {% endcomment %}
                            <span class="message-date text-red-500"></span>
                        {% comment %} {% endfor %} {% endcomment %}
                    </div>
                </div>

            </div>
        </section>
    {% include "CSM/include/footer.html" %}
{% endblock  %}

{% block scripts %}
    
    <script>
        $(document).ready(function () {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            $(document).on('click', '.user',function (e){ 
                e.preventDefault();
                var messageId = $(this).data('message-id');
                var csrfToken = getCookie('csrftoken');
                $.ajax({
                    type: 'POST',
                    url: '{% url "CSM:markItRead" %}',
                    data: {'message_id': messageId},
                    success: function (data) {
                        $('.message-content').html(data.content);
                        $('.message-title').html(data.title);
                        $('.message-date').html(data.date);

                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                        $('.message-content').html('Error submitting the form');
                        $('.message-title').html('Error submitting the form');
                        $('.message-date').html('Error submitting the form');
                    }
                });
                $(this).removeClass("bg-red-200");
                $(this).addClass("bg-green-100");
            });
            var lastCheckTime = new Date().toISOString();
            
            function fetchNewMessages(){
                var employeeId = {{ request.user.id }}
                $.ajax({
                    type    :"GET",
                    url     : "{% url 'CSM:newMessages' %}",
                    data    : {'employeeId' : employeeId,
                               'date_message' :  lastCheckTime },
                    success : function (data){
                        $('.sender-container').append(data.latestMessage);
                        lastCheckTime =  new Date().toISOString();
                    },
                    error   : function (xhr, status, error){
                        console.error('Error:', error);
                    }
                });
            }
            setInterval(fetchNewMessages, 5000);
        });
</script>
    
{% endblock %}



