{% extends "CSM/include/base.html" %}

{% block title %}
    Send Message
{% endblock  %}

{% block content %}
    {% include "CSM/include/nav.html" %}
  <div
    class="flex-1 block rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <!--Name input-->
      <div class="relative mb-6" data-te-input-wrapper-init>
        <label class="block">
          <label for="Employees" class="block text-sm font-medium text-slate-700">Send Message To</label>
          <select id="Employees" name="user_option" class="w-full border-2 border-slate-500 border-solid px-2 py-2 rounded-lg focus:border-green-300">

            {% for user in users %}
              <option value="{{user.username}}" >{{user.last_name}} {{user.first_name}} </option>
            {% endfor %}
          </select>
        </label>
      </div>
      <!--Message title-->
      <div class="relative mb-6" data-te-input-wrapper-init>
        <label class="block">
          <span class="block text-sm font-medium text-slate-700">Message Title</span>
          <input type="text" class="w-full border-2 border-slate-500 border-solid px-2 py-2 rounded-lg focus:border-green-300 " name="message_title" placeholder="Type title Message Here">

        </label>
      </div>
      <!-- Message content -->
      <div class="relative mb-6" data-te-input-wrapper-init>
        <label class="block">
          <span class="block text-sm font-medium text-slate-700">Message Content</span>
          <textarea type="text" class="w-full border-2 border-slate-500 border-solid px-2 py-2 rounded-lg focus:border-green-300 " name="user_message" placeholder="Type Your Message Here"></textarea>

        </label>
      </div>

      <!-- Files Uploaded -->
      <div class="relative mb-6" data-te-input-wrapper-init>
        <label class="block">
          <span class="block text-sm font-medium text-slate-700">Files Uploader</span>
          <input type="file" class="w-full border-2 border-slate-500 border-solid px-2 py-2 rounded-lg focus:border-green-300 " name="files" multiple>

        </label>
      </div>

      <!--Submit button-->
      <button
        type="submit"
        class="w-full border-2 border-green-100 border-solid px-2 py-2 text-slate-300 bg-blue-500 rounded-lg">
        Send
      </button>
    </form>
  </div>

    {% include "CSM/include/footer.html" %}

{% endblock  %}

{% block scripts %}
    <script>

    </script>
{% endblock %}
