{% extends "CSM/include/base.html" %}

{% block title %}
    Test Page
{% endblock  %}

{% block content %}
    {% include "CSM/include/nav.html" %}

<form id="myForm">
{% csrf_token %}
    <!-- Your form fields go here -->
    <input type="text" name="data_from_frontend" id="data_from_frontend" class="my-5 border-2 " />
    <button type="button" id="submitBtn">Submit</button>
</form>

<div id="result"></div>

    {% include "CSM/include/footer.html" %}









{% endblock  %}
{% block scripts %}
<script>
        $(document).ready(function () {
            $('#submitBtn').on('click', function () {
                var formData = $('#myForm').serialize();

                $.ajax({
                    url: 'test/submit_form/',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.status === 'success') {
                            $('#result').html(response.processed_data);
                        } else {
                            $('#result').html('Error: ' + response.message);
                        }
                    },
                    error: function () {
                        $('#result').html('Error submitting the form');
                    }
                });
            });
        });
</script>

{% endblock  %}