body{
    display: block;
}

.container{
    display: flex;
    width: 80%;
    height: fit-content;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.variable{
    display: block;
    width: 80%;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}